.clock {
    color: whitesmoke;
    text-align: center;
    width: 100px;
    border-radius: .3em;
    background-color: #ff69b4;
}
.clock span {
    padding: 2;
}
.navbar {
    margin-bottom: 20px;
  }